.DS_Store

# terraform plan files
plan
*.plan
*tfplan

# state files
*.tfstate
*.tfstate.backup
.terraform/

sinks/*
tests/*
libraries/*

# state files
*.tfstate
*.tfstate.backup

# best practice: version control your tf lock file
!.terraform.lock.hcl

# transient log files
*.log
*.list
*.json